body{
	background-image: url(../img/CorkBoard.jpg);
}
h1{

}

.add{
	background-color: red;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    float: right;
}

#toolbar{

}

#workspace{
	/*border: 1px solid black;*/
}

.sheet{
	background-color: yellow;
	display: inline-block;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
	border-left: 1px groove rgba(0,0,0,0.1);
	border-top: 1px groove rgba(0,0,0,0.1);
	position: absolute;
}

.sheet .head{
}

.sheet .head .row{
	height: 25px;
    display: table-cell;
    vertical-align: middle;
}

.sheet .head .row .remove {

	background-color: yellow;
	border: 1px groove rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
}



/* 
 * bodyの幅高さを可変にしています。
 * $(".sheet-body").resizable();
 *  sheetの幅、高さはbodyクラスのものに従っています。
 */
.sheet .body{
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-height: 200px;
	border-top: 1px groove rgba(0,0,0,0.1);
}

.sheet .body .textarea{
	box-sizing:border-box;
	overflow: scroll;
	outline : none;
	padding: 5px 10px 0px;
	height: 100%;
	width: 100%;
}