body{
	background-image: url(../img/CorkBoard.jpg);
	margin: 0px;
}
h1{

}




#toolbar{
	z-index: 1000;
}

#workspace{
	/*border: 1px solid black;*/
}

.sheet{
	background-color: yellow;
	display: inline-block;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
	border-left: 1px groove rgba(0,0,0,0.1);
	border-top: 1px groove rgba(0,0,0,0.1);
	position: absolute;

	top: 150px;
	left: 400px;

	-webkit-animation-name: sheetSlidein;
	-webkit-animation-duration: 0.3s;
}
@-webkit-keyframes sheetSlidein{
	0%{
		top: -150px;
	}
}

.sheet .head{
}

.sheet .head .row{
	height: 25px;
    display: table-cell;
    vertical-align: middle;
}

.sheet .head .row .remove {

	border: 1px groove rgba(0,0,0,0.1);
    width: 18px;
    height: 18px

}
.sheet .head .row .remove:hover{
    cursor: pointer;
}


/* 
 * bodyの幅高さを可変にしています。
 * $(".sheet-body").resizable();
 *  sheetの幅、高さはbodyクラスのものに従っています。
 */
.sheet .body{
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-height: 200px;
	border-top: 1px groove rgba(0,0,0,0.1);
}

.sheet .body .textarea{
	box-sizing:border-box;
	overflow: scroll;
	outline : none;
	padding: 5px 10px 0px;
	height: 100%;
	width: 100%;
}


#sheetList .sheetListItem{
	width: 100%;
	position: relative;
	left: 0px;
	-webkit-animation-name: sheetListItemSlidein;
	-webkit-animation-duration: 0.5s;
}
@-webkit-keyframes sheetListItemSlidein{
	0%{
		left: -150px;
	}
}

#sheetList .sheetListItem .remove{
	display: inline-block;
	height: 100%;
	border: 1px groove rgba(0,0,0,0.1);
}

/* シート削除アイコン */
.sheet .head .row .remove:before, .sheet .head .row .remove:after {
    width: 2px;
    height: 15px;
    background: rgba(0,0,0,0.5);
	content: "";
	top: 5px;
	left: 9px;
	position: absolute;
}
.sheet .head .row .remove:before{
	transform:rotate(-45deg);
}
.sheet .head .row .remove:after {
	transform:rotate(45deg);
}

/* シート追加アイコン */
.add{
	background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 120px;
	position: absolute;
}
.add:hover{
    cursor: pointer;
	box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5);
}
.add:before {
    width: 2px;
    height: 36px;
    background: #fff;
	content: "";
	top: 7px;
	left: 24px;
	position: absolute;
}
.add:after {
    width: 36px;
    height: 2px;
    background: #fff;
	content: "";
	top: 24px;
	left: 7px;
	position: absolute;
}


/* ドロワーハンバーガーアイコン */
.drawer-handle{
	background-color: white;
    border-radius: 0px 10px 10px 0px;
    height: 50px;
    width: 50px;
    top: 50px;
	position: absolute;
}
.drawer-handle:hover{
    cursor: pointer;
	box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5);
}

.hamburger-bar{
	display: inline-block;
	position: relative;
	padding: 0;
	background: #000;
	float: right;
	top: 50%;
	bottom: 50%;
}
.hamburger-bar:before{
	margin-top: -8px;
}
.hamburger-bar:after{
	margin-top: 4px;
}
.hamburger-bar:before, .hamburger-bar:after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #000;
}
.hamburger-bar, .hamburger-bar:before, .hamburger-bar:after{
	width: 30px;
	height: 3px;
}