body{
	/*background-image: url('../img/CorkBoard.jpg');*/
}

#toolbar{
}

#toolbar button{
}

.sheet{
	background-color: yellow;
}

.sheet .setting{
	border: 1px solid black;
}

.sheet textarea{
	border:0;
	background-color:#ffffff;
	color:#000000;
}